- const meta = post_meta(page)

.book-info
    img.book-image(src= meta.thumbnail, alt= meta.title)
    .book-info-box
        .book-date= meta.date
        .book-title= meta.title
        .book-authors
            each author of meta.authors
                .author-name= author
