extends layout/layout

block css
    != css('/css/category')

block content
    case page.category
        when 'book'
            != partial('item-list/books', {}, {cache: true})
        when 'comic'
            != partial('item-list/comics', {}, {cache: true})
        when 'anime'
            != partial('item-list/anime', {}, {cache: true})
        when 'music'
            != partial('item-list/music', {}, {cache: true})
