extends page

block css
    != css('/css/article')

block content
    -
        function category_of(post) {
            return ['anime', 'book', 'comic', 'music']
                .find(cat => has_category(post, cat)) || 'music'
        }

    .article
        - const category = category_of(page)

        // Item info
        unless page.categories.length < 1
            if category === 'anime'
                != partial('item-info/anime')
            else if category === 'book' || category === 'comic'
                != partial('item-info/book')
            else
                != partial('item-info/music')

        // content
        .article-contents(data-content-type= category)
            - const meta = post_meta(page)
            if ((category === 'book' || category === 'comic') && page.title !== meta.title)
                h2.article-title= page.title
            != page.content

        - const references = post_refers(page)
        -
            function icon_of(category) {
                return {
                    'anime': 'video',
                    'book': 'book',
                    'comic': 'image',
                    'music': 'headphone',
                }[category];
            }
        if references.length
            .reference
                h3.reference-title= __('reference.title')
                each post of references
                    if post
                        .reference-info
                            .reference-icon!= pixelart_icon(icon_of(category_of(post)))
                            .reference-title
                                a(href= url_for(post.path))= post.title
