extends page

block css
    link(rel="stylesheet", href="/css/article.css")

block content
    .article
        // Item info
        // TODO check posts categories
        unless page.categories.length < 1
            if has_category(page, 'anime')
                include item-info/anime
            else if has_category(page, 'book')
                include item-info/book
            else if has_category(page, 'comic')
                include item-info/book
            else
                include item-info/music

        // content
        .article-contents
            h2.article-title= page.title
            != page.content
