extends page

block css
    != css('/css/article')

block content
    -
        let category = 'music'

        if (has_category(page, 'anime'))
            category = 'anime'
        else if (has_category(page, 'book'))
            category = 'book'
        else if (has_category(page, 'comic'))
            category = 'book'
        else
            category = 'music'

    .article
        // Item info
        // TODO check posts categories
        unless page.categories.length < 1
            if category === 'anime'
                != partial('item-info/anime')
            else if category === 'book'
                != partial('item-info/book')
            else
                != partial('item-info/music')

        // content
        .article-contents(data-content-type=category)
            - const meta = post_meta(page)
            if (page.title !== meta.title)
                h2.article-title= page.title
            != page.content
