@import './_defaults/colors.scss';
@import './_defaults/fonts.scss';

.article {
    @mixin article-width() {
        @media (min-width: 768px) {
            width: 750px;
        }

        @media (min-width: 1200px) {
            width: 1000px;
        }

        width: 100%;
    }

    @include article-width();

    font-size: $text-size;
    display: flex;
    flex-direction: column;
    align-items: center;

    .book-info {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @mixin image-size() {
            @include article-width();

            @media (min-width: 768px) {
                height: 60vh;
            }

            @media (min-width: 1200px) {
                height: 75vh;
            }

            height: 40vh;
        }

        .book-image {
            position: relative;
            z-index: -1;
            width: 100%;

            img {
                @include image-size();
                object-fit: cover;
                object-position: top;
                border-radius: 5px 5px 0 0;
            }

            &::after {
                content: ' ';

                position: absolute;
                left: 0;
                top: 0;

                @include image-size();

                background: linear-gradient(to bottom,
                        transparent 0%,
                        transparent 40%,
                        rgba($bg-color, 1) 100%,
                    );
            }
        }

        .book-info-box {
            width: 90%;
            margin-top: -15vh;
            margin-bottom: 2em;

            display: grid;
            grid-template-columns: auto 1fr;
            align-items: end;
            justify-items: stretch;

            .book-title {
                font-size: $title-size;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
            }

            .book-authors {
                text-align: right;
                line-height: 1;

                .author-name:nth-child(1) {
                    font-size: 1.2 * $text-size;
                }

                .author-name {
                    margin-top: 0.25em;
                }
            }
        }
    }

    .article-contents[data-content-type="book"] {
        width: 90%;
        margin-top: 1.5em;

        .article-title {
            margin-top: -3em;
            font-size: $subtitle-size;
            font-weight: normal;
            margin-bottom: 3.5em;
        }

        p {
            line-height: 1.5;
            font-size: $text-size;
            margin-top: 1em;
        }
    }
}
