@import './_defaults/colors.scss';
@import './_defaults/fonts.scss';

.article {
    @mixin article-width() {
        @media (min-width: 768px) {
            width: 750px;
        }

        @media (min-width: 1200px) {
            width: 1000px;
        }

        width: 100%;
    }

    @include article-width();

    font-size: $text-size;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .book-info {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        @mixin image-size() {
            @include article-width();

            @media (min-width: 768px) {
                height: 60vh;
            }

            @media (min-width: 1200px) {
                height: 75vh;
            }

            height: 40vh;
        }

        .book-image {
            position: relative;
            z-index: -1;
            width: 100%;

            img {
                @include image-size();
                object-fit: cover;
                object-position: top;
                border-radius: 5px 5px 0 0;
            }

            &::after {
                content: ' ';

                position: absolute;
                left: 0;
                top: 0;

                @include image-size();

                background: linear-gradient(to bottom,
                        transparent 0%,
                        transparent 40%,
                        rgba($bg-color, 1) 100%,
                    );
            }
        }

        .book-info-box {
            width: 90%;
            margin-top: -15vh;
            margin-bottom: 2em;

            display: grid;
            grid-template-columns: auto 1fr;
            align-items: end;
            justify-items: stretch;

            .book-title {
                font-size: $large-title-size;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
            }

            .book-authors {
                text-align: right;
                line-height: 1;

                @media (max-width: 768px) {
                    display: none;
                }

                .author-name:nth-child(1) {
                    font-size: 1.2 * $text-size;
                }

                .author-name {
                    margin-top: 0.25em;
                }
            }
        }
    }

    .cd-info {
        $width: 100%;

        width: 90%;
        margin: auto;

        display: grid;
        grid-template-columns: 30% 60%;
        column-gap: 24px;

        font-size: $small-text-size;

        .cd-cover {
            grid-row: 1 / span 2;
            justify-self: flex-start;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cd-info-box {
            .cd-title {
                margin: 0;
                font-weight: normal;
                font-size: $title-size;
            }

            .cd-date {
                margin-top: 1em;
                margin-bottom: 0.5em;
            }
        }

        .cd-artists {
            padding-top: 1em;
            align-self: end;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            text-align: left;

            .cd-artists {
                align-self: auto;
                line-height: 1.5;
            }
        }
    }

    .anime-info {
        width: 90%;
        margin: auto;

        .anime-post {
            display: flex;
            justify-content: center;

            img {
                width: 100%;
                max-width: 400px;
            }
        }
    }

    .article-contents {
        width: 90%;
        margin-top: 1.5em;

        .article-title {
            font-size: $title-size;
            margin-top: 2em;
            margin-bottom: 1.5em;
        }
    }

    .article-contents[data-content-type="book"] {
        .article-title {
            margin-top: -3em;
            font-size: $subtitle-size;
            font-weight: normal;
            margin-bottom: 3.5em;
        }

        p {
            line-height: 1.5;
            font-size: $text-size;
            margin-top: 1em;
        }
    }

    .reference {
        width: 90%;

        .reference-info {
            display: grid;
            grid-template-columns: auto 1fr;
            column-gap: 0.75em;
            align-items: center;

            line-height: 1;

            .reference-icon {
                width: 24px;
                height: 24px;
            }

            & + .reference-info {
                margin-top: 0.5em;
            }
        }
    }
}
