@import './_defaults/colors.scss';
@import './_defaults/fonts.scss';

.item-list {
  $width: 100%;

  width: $width;
  margin-top: 40px;
  row-gap: 30px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 24px 0;
  justify-items: center;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $width / 3);
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(4, $width / 4);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, $width / 5);
  }

  @media (min-width: 1600px) {
    grid-template-columns: repeat(6, $width / 6);
  }

  @media (min-width: 1960px) {
    grid-template-columns: repeat(8, $width / 8);
  }

  .item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.item-list[data-item-type="book"],
.item-list[data-item-type="comic"] {
  .item-wrapper {
    $paper-width: 210px;
    $paper-height: 297px;

    $small-width: $paper-width * 2/3;
    $small-height: $paper-height * 2/3;

    width: $paper-width;

    @mixin book-image() {
      width: $paper-width;
      height: $paper-height;

      border-radius: 5px;
      box-shadow: 3px 1px $bg-sub-color;

      @media (max-width: 768px) {
        width: 100%;
        height: 100%;
      }
    }

    .item-image {
      width: $paper-width;
      height: $paper-height;
      position: relative;

      @media (max-width: 768px) {
        width: 100%;
        height: unset;
        margin-left: auto;
        margin-right: auto;
      }

      img {
        object-fit: cover;
        @include book-image();
      }
    }

    .item-caption {
      display: none;
    }

    .item-image img:hover+.item-caption,
    .item-caption:hover {
      @include book-image();

      display: flex;
      align-items: center;

      position: absolute;
      left: 0;
      bottom: 0;

      background-color: #000000bf;

      h2 {
        text-align: left;
        text-overflow: ellipsis;
        overflow: hidden;

        font-size: $large-title-size;

        font-family: 'ark-pixel-12';
        font-weight: normal;

        line-height: 1.25;

        padding: 0.5em 0.25em;
        margin-top: 0;
        margin-bottom: 2em;

        @media (max-width: 768px) {
          font-size: $title-size;
        }
      }
    }

    .item-series {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item-series-box {
        background-color: $dim-color;
        height: 3px;
        border-radius: 2px;
        margin-bottom: 5px;

        box-shadow: 3px 1px $bg-sub-color;

        &:nth-child(1) {
          width: 80%;
        }

        &:nth-child(2) {
          width: 90%;
        }

        @media (max-width: 768px) {
          height: 2px;

          &:nth-child(1) {
            width: 70%;
          }

          &:nth-child(2) {
            width: 80%;
          }
        }
      }
    }

    @media (max-width: 768px) {
      $spacing: 24px;

      width: calc(100% - #{2 * $spacing});

      &:nth-child(odd) {
        margin-left: $spacing;
      }

      &:nth-child(even) {
        margin-right: $spacing;
      }
    }
  }
}

.item-list[data-item-type="anime"] {
  .item-wrapper {
    align-items: center;

    .item-image {
      width: 200px;

      img {
        object-fit: cover;

        width: 100%;

        border: 1px solid $dim-color;
        border-radius: 5px;
      }
    }

    @media (max-width: 768px) {
      $spacing: 24px;
      width: calc(100% - #{2 * $spacing});

      .item-image {
        width: 100%;
      }

      &:nth-child(odd) {
        margin-left: $spacing;
      }

      &:nth-child(even) {
        margin-right: $spacing;
      }
    }
  }
}

.item-list[data-item-type="music"] {
  $cover-size: 200px;
  $small-cover-size: 150px;

  $width: 100%;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, $width / 3);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  .item-wrapper {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      position: relative;
    }

    *::before,
    *::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
    }

    .cd-case {
      //border: 1px solid;
      width: 1.1 * $cover-size;
      height: $cover-size;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0.1rem;

      &::after {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0.15rem;
        background:
          radial-gradient(circle at 50% 0%, #ffffff42 45%, #ffffffaa calc(45% + 0.1rem) 47%, transparent calc(47% + 0.1rem)) 20% 0% / 10% 10% no-repeat,
          radial-gradient(circle at 50% 0%, #ffffff42 45%, #ffffffaa calc(45% + 0.1rem) 47%, transparent calc(47% + 0.1rem)) 85% 0% / 10% 10% no-repeat,
          radial-gradient(circle at 50% 100%, #ffffff42 45%, #ffffffaa calc(45% + 0.1rem) 47%, transparent calc(47% + 0.1rem)) 20% 100% / 10% 10% no-repeat,
          radial-gradient(circle at 50% 100%, #ffffff42 45%, #ffffffaa calc(45% + 0.1rem) 47%, transparent calc(47% + 0.1rem)) 85% 100% / 10% 10% no-repeat,
          linear-gradient(#2e2e2e44, #2e2e2e44);
      }

      @media (max-width: 768px) {
        width: 1.1 * $small-cover-size;
        height: $small-cover-size;
      }
    }

    .ridge {
      width: 9.4%;
      height: 99.2%;
      border-radius: 0.15rem;
      background: blue;
      background:
        linear-gradient(to right, #353535 10%, #222222 20%, #181818 35% 95%, #101010 95%) 97% 0 / 20% 100% no-repeat,
        repeating-linear-gradient(to right, #353535 0% 4%, #202020 6% 10.3%, #171717 11% 18%) 35% 0 / 70% 100% no-repeat,
        linear-gradient(#1e1e1e, #242424) 0 0 / 15% 100% no-repeat;
    }

    .cd {
      width: 89.2%;
      height: 98.4%;
      background: #323232;
      box-shadow:
        inset -0.35rem 0.3rem #272727,
        inset 0 -0.15rem #272727;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
