@import './_defaults/colors.scss';
// TODO fonts
@import '_defaults/fonts.scss';
@import './_defaults/mixins.scss';

body {
    margin: 0;
    color: $text-color;
    background-color: $bg-color;

    display: flex;
    flex-direction: column;
}

a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $link-color;
    }
}

.header {
    font-family: ark-pixel-12;
    align-self: center;
}

.footer {
    font-family: ark-pixel-12;
    font-size: 18px;

    hr {
        height: 1px;
        border: unset;
        $w50: 50%;
        background: linear-gradient(to right,
                $dim-color,
                $dim-sub-color $w50 * 1/3,
                $link-stress-color $w50 * 2/3,
                $link-color 50%,
                $link-color 50%,
                $link-stress-color $w50 * 4/3,
                $dim-sub-color $w50 * 5/3,
                $dim-color 100%);
    }

    .footer-link-box {
        $footer-link-colors:
            $link-color,
            $dim-color,
            $dim-sub-color,
            $link-stress-color;

        @for $i from 1 to 4 {
            .footer-link:nth-child(8n + #{$i}),
            .footer-link:nth-child(8n + #{8 - $i + 1}) {
                color: nth($footer-link-colors, $i + 1);
            }
        }

        .footer-link+.footer-link {
            margin-left: 1em;
        }
    }

    @media (max-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;

        .footer-link-box {
            display: flex;
            flex-direction: column;

            .footer-link+.footer-link {
                margin-left: unset;
            }
        }
    }
}

.header {
    $title-size: 36px;
    $text-size: 24px;
    $text-padding-top: 10px;
    $text-padding-bottom: 14px;

    background-color: $bg-sub-color;
    color: $link-color;

    display: grid;
    align-items: end;
    grid-template-columns: auto 0 1fr auto;
    gap: 2em;
    padding: 0 24px;
    padding-top: $text-padding-top;

    @include link-color($link-color);

    .header-brand {
        font-size: $title-size;
        padding-bottom: $text-padding-bottom;
        line-height: 1;

        @include link-color($link-stress-color);
    }

    ul,
    li {
        text-decoration: none;
        list-style: none;
        line-height: 1;
    }

    .header-menu {
        display: flex;
        gap: 0.5em;

        margin: 0;
        margin-block: 0;
        margin-inline: 0;
        padding-inline: 0;

        font-size: $text-size;

        .menu-item {
            padding: $text-padding-top 0.75em $text-padding-bottom 0.75em;
            border-radius: 5px 5px 0 0;

            &[data-stressed] {
                background-color: $bg-color;
            }
        }
    }

    .header-link {
        font-size: $text-size;
        padding: $text-padding-top 0 $text-padding-bottom 0;
        line-height: 1;
    }

    @media (max-width: 768px) {
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1em;

        padding: 10px 24px;

        .header-brand {
            align-self: flex-start;
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            font-size: 32px;
        }

        .header-menu-button {
            @include pixel-icon(1.5);
            cursor: pointer;
            justify-self: flex-end;
        }

        .header-menu {
            margin-top: 14px;
            flex-direction: column;
            display: none;

            &[data-toggle] {
                display: flex;
                grid-column: 1 / span 2;
            }

            .menu-item {
                padding: 8px 0.75em 10px 7px;
                border-radius: 5px;
                margin-left: -7px;
            }
        }

        .header-link {
            display: none;
        }
    }
}

.header,
.footer {
    width: 100%;
    box-sizing: border-box;

    @mixin header-padding($width) {
        padding-left: calc(50% - #{$width/2});
        padding-right: calc(50% - #{$width/2});
    }

    @media (min-width: 768px) {
        @include header-padding(750px);
    }

    @media (min-width: 960px) {
        @include header-padding(900px);
    }

    @media (min-width: 1200px) {
        @include header-padding(1200px);
    }

    @media (min-width: 1600px) {
        @include header-padding(1600px);
    }

    @media (min-width: 1960px) {
        @include header-padding(1960px);
    }
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    width: 100%;
    margin: 24px;

    @media (min-width: 768px) {
        width: 750px;
    }

    @media (min-width: 960px) {
        width: 900px;
    }

    @media (min-width: 1200px) {
        width: 1200px;
    }

    @media (min-width: 1600px) {
        width: 1600px;
    }

    @media (min-width: 1960px) {
        width: 1960px;
    }

    &:has(.page-content) {
        align-items: flex-start;
    }

    @media (max-width: 768px) {
        .page-content {
            margin-left: 24px;
            margin-right: 24px;
        }
    }
}
