doctype html
html(lang=config.language)
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != css('/css/style')
        block css
    body
        // header
        != partial('layout/header', {page:page})
        // body content
        .body-container
            if body
                div!= body
            else
                block content
        // footer
        != partial('layout/footer', {page:page}, {cache: true})

        != js('/js/toggle-menu')
        block js
