// colors
$bg-color: rgb(17, 50, 93);
$bg-sub-color: rgb(54, 80, 131);
$dim-color: rgb(115, 107, 157);
$dim-sub-color: rgb(183, 131, 175);
$link-stress-color: rgb(245, 166, 115);
$link-color: rgb(252, 219, 114);
$text-color: white;
