@font-face {
    font-family: ark-pixel-16;
    src: url('/fonts/ark-pixel-16px-proportional-zh_cn.woff2');
}

@font-face {
    font-family: ark-pixel-12;
    src:
        url('/fonts/ark-pixel-12px-proportional-zh_cn.woff2');
}

@font-face {
    font-family: ark-pixel-10;
    src: url('/fonts/ark-pixel-10px-proportional-zh_cn.woff2');
}

$text-size: 18px;
$subtitle-size: 20px;
$title-size: 24px;
$large-title-size: 32px;
